body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}

#parag1 {
    text-align: end;
}
#patrat {
    border-color: black;
    border-width: 0.5cm;
   
       
}